@import url('https://fonts.googleapis.com/css2?family=Lexend&display=swap');
:root {

	--fixedmargin: 1rem;
}

/* SECCIÓN PARA TODO */

.navegador, .pc {
	position: fixed;
	top: var(--fixedmargin);
	left: 0;
	right: 0;
	padding-inline: var(--fixedmargin);
	display: flex;
	justify-content: space-between;
}

nav * {
	transition: 0.3s;
}
.nav-izd {
	flex-direction: row;
	flex-wrap: wrap;
	
}
.nav-izd a:has(img) {
	height: 2.75em;
	padding: 0.25em;
	position: fixed;
	margin-right: var(--fixedmargin);
	display: inline-block;
}

.nav-izd a img {
	height: 2.75em;
}

.nav-izd a:not(:has(img)) {

	color: #fff;
	text-align: center;
	padding: 1em;
	text-decoration: none;
}

.subnav {

	overflow: hidden;
}

.subnav .subnav-btn {
	border: none;
	outline: none;
	color: #fff;
	padding: 1em;
	background-color: inherit;
	font-family: inherit;
	margin: 0;
}

.nav-izd a:not(:has(img)):hover, .subnav:hover .subnav-btn {
	background-color: var(--col4);
	/*color: #fff;
	*/
}

.subnav-cont {
	display: block;
	visibility: hidden;
	position: absolute;
	top: 3.25;
	left: 0;
	background-color: var(--col4);
	width: 100%;
	z-index: 0;
	opacity: 0;
}

.subnav-cont a {

	/*
	color: hsl(130,60%,40%);
	*/
	text-decoration: none;
}

.subnav-cont a:hover {
	background-color: var(--col3);
	color: #fff;
}

.subnav:hover .subnav-cont {
	opacity: 1;
	display: block;
	visibility: visible;
}

.prenav {
	height: 3.5em;
}

.nav-margin {
	padding-left: 3em;
	padding-bottom: 2em;
	display: inline-block;

}

